<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="@{~/Question/style.css}">
</head>
<body>
<div class="container">
    <form method="POST" th:action="@{/submitQuestion}" th:object="${questionForm}">
        <div class="row">
            <div class="col-75">
                <label for="content"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="content" id="content" th:field="*{content}" placeholder="Enter question" th:required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label for="answer"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="answer" id="answer" th:field="*{answer}" placeholder="answer" th:required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label for="marks"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="marks" id="marks" th:field="*{marks}" placeholder="Enter marks" th:required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label for="questionId"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="questionId" id="questionId" th:field="*{questionId}" placeholder="Enter questionId" th:required="true"/>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>